<div class="modal" [ngClass]="{ 'show': showEditQuizModal }">
  <div class="modal-content">
      <header>
          <h1>Quiz Creator</h1>
          <div class="time-display">
              Time Limit <span class="time-value">{{ chrono }}</span>
          </div>
      </header>
      
      <div class="question-container">
          <div class="question-header">
              <div class="question-number">Question 1</div>
              <button class="btn" (click)="deleteQuestion()">Delete</button>
          </div>
          
          <input type="text" class="question-text" [(ngModel)]="newquiz.question" placeholder="Enter your question here..." required>
          
          <div class="options-container">
              <div class="option" [ngClass]="{ 'correctOption': newquiz.correctOption === 'A' }">
                  <input type="radio" name="correctOption" [(ngModel)]="newquiz.correctOption" value="A" required>
                  <input type="text" [(ngModel)]="newquiz.optionA" placeholder="Option 1" required>
              </div>
              <div class="option" [ngClass]="{ 'correctOption': newquiz.correctOption === 'B' }">
                  <input type="radio" name="correctOption" [(ngModel)]="newquiz.correctOption" value="B" required>
                  <input type="text" [(ngModel)]="newquiz.optionB" placeholder="Option 2" required>
              </div>
              <div class="option" [ngClass]="{ 'correctOption': newquiz.correctOption === 'C' }">
                  <input type="radio" name="correctOption" [(ngModel)]="newquiz.correctOption" value="C" required>
                  <input type="text" [(ngModel)]="newquiz.optionC" placeholder="Option 3" required>
              </div>
              <div class="option" [ngClass]="{ 'correctOption': newquiz.correctOption === 'D' }">
                  <input type="radio" name="correctOption" [(ngModel)]="newquiz.correctOption" value="D" required>
                  <input type="text" [(ngModel)]="newquiz.optionD" placeholder="Option 4" required>
              </div>
          </div>
      </div>
      
      <button class="btn btn-add" (click)="saveQuiz()">+Save Quiz </button>
      
      <div class="quiz-navigation">
          <div class="quiz-info">1 of 1 Questions</div>
          <!-- <button class="btn btn-primary" (click)="addQuestion()">Add Question</button> -->
      </div>
      
      <button (click)="closeModal()" class="btn-close">Close</button>
  </div>
</div>